* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1230px;
  min-height: 500px;
}

.item {
  width: 20%;
  padding: 20px;
  margin: 5px;
}

@media screen and (max-width: 992px) {
  .item {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .item {
    width: 100%;
  }
}