* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 25vh; /*put them like slices in the middle*/
  gap: 60px;
  border 1px black solid;
}

.btn {
  border: 4 px solid black;
  padding: 15px 30px;
  position: relative;
  overflow: hidden;
  width: 150px;
  background-color: transparent;
}

/*-------------------------translateY--------------------*/
.translateY-btn::after {
  content: "Cool!";
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center; /* do not put justify content*/
  position: absolute;
  padding: 15px 30px;
  background-color: red;
  height: 20px; /*will take the whole place width and height from its container= the btn*/
  width: 88px;
  top: 0;
  left: 0;
  transform: translateY(-90px);

  /*0 in the Y axis is the element.negative number in the Y axis will take the red box above the element(positive number under the element)
    */
  transition: 0.5s ease-in;
}

.translateY-btn:hover::after {
  transform: translateY(0);
}
/*- 
שורה 41 TRANSITION ישמנו את מה שנדרש ,עכשיו נהפוך את המצב לחלק יותר עם 
אחריו OVERFLOW- hidden parent container---*/

/*-------------------------translateX--------------------*/

.translateX-btn::after {
  content: "";

  position: absolute;
  padding: 15px 30px;
  background-color: blue;

  height: 100%; /*will take the whole place width and height from its container= the btn*/
  width: 100%;
  top: 0;
  left: 0;
  transform: translateX(-300px);
  z-index: -1;
  transition: all 0.5s ease-in;
}

.translateX-btn:hover::after {
  transform: translateX(0px);
}

/*-------------------------Rotate--------------------*/

.Rotate-btn::after {
  content: "";

  position: absolute;
  padding: 20px 150px;
  background-color: yellow;

  height: 80%;
  width: 100%;
  top: -18px;
  left: -275px;

   

  transform: rotateZ(120deg);
  transition: 1s ease-in-out;
  z-index: -1;
}

.Rotate-btn:hover::after {

  transform: rotateZ(0);
 
}

/*------------------------Skew---------------------*/



.Skew-btn{
  background-color: transparent;
  display:flex ;
  align-items: center;
  justify-content: center;
  transition:  all 1s ease-in-out;
  position:relative;
  overflow:hidden;


}

.Skew-btn:hover{
   transform: skew(-2deg,-10deg);
}
.Skew-btn::after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  
  
  /* החלק שממנו יוצאת הצורה הסגולה מהמרכז של הכתב*/
  height:0px;
  width: 0px;
  top: 50%;   
  left: 50%; 
  /* החלק שממנו יוצאת הצורה הסגולה מהמרכז של הכתב*/  
  
  
  background-color: rgb(155, 24, 122);
  transform: Skew(0px,10deg);
  transition: all 1s ease;
  
}

.Skew-btn:hover::after {
 
  transform: Skew(180deg, 180deg);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/*-----------------------Scale-------------------*/
.Scale-btn::after {
  content: "Scale";
  color: antiquewhite;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgb(10, 7, 9);

  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  font-size: 14rem;



  Scale:(2);
  transition: 1.5s ease-in-out;
  opacity: 0;
  z-index: 1;
}

.Scale-btn:hover::after {
 
  Scale:(1);
  opacity: 1;
  height: 100%;
  width: 100%;
  font-size: 13px;
}