* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 25px; 
}*/

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(236, 163, 179);
  font-size: 5vw;
}
header {
  background-color: rgb(128, 118, 118) url
    ("https://picsum.photos/id/237/200/300") no-repeat center center/cover;
  height: 100vh;
  padding: 2rem;
  padding-top: 0;
  font-size: 2vw;
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  color: rgb(255, 138, 249);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div.img-div {
  display: flex;
  position: absolute;
  z-index: -1;
}

img {
  border-radius: 20px;
}

.child-header-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-left: -20rem;
}

/*----------------------------------------------------------
https://blog.logrocket.com/elements-responsive-typography/
----------------------------------------------------------*/
