*{
  padding: 0;
  margin:0;
  box-sizing: border-box;}
  
  body{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
    
  }
  
  
  .flex-container{
   background-color: bisque;
   display:flex;
   height: 50vh;
   align-items: end; 
   justify-content: end; 
  }
  
  .item{
  margin:0px;
  padding:5px;
  width: 100px;
  height: 70px;
  text-align: left;
  }
  
  .item1{
    background-color: green;
  }
  .item2{
    background-color:rgb(22, 108, 189);
  }
  .item3{
    background-color: rgb(230, 48, 48);
  }
  
  
  