* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light-theme-background-color: #F0EEF0;
  --light-theme-font-family: sans-serif;
  --light-theme-font-color: #000000
  --light-theme-background-color-card: #444345;
  --light-theme-btn-font-color:#C6C4C6
   --light-theme-btn-background-color-card:#020102


  --dark-theme-background-color: #343334;
  --dark-theme-font-family: sans-serif;
  --dark-theme-font-color: #FFFFF7;
  --dark-theme-background-color-card: #F0EEF0;
  --dark-theme-btn-font-color:#5C5C50
  --dark-theme-btn-background-color-card:#C8C8C8


}

body {
  /* background-color:#FFFF; */
}

div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--light-theme-background-color-card);
  color: var(--light-theme-font-color);
  width: 35vw;
  height: 120vh;
  position: relative;
  margin-left: 50px;
  margin-top: 100px;
}


img {
  border-radius: 50%;
  text-align: center;
  width: 17vw;
  height: 18vh;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

P {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--dark-theme-color);
  font-weight: 500;
  width: 17vw;
  height: 18vh;
}
button{
   width: 15vw;
  height: 4vh;
  position: relative;
  margin-left: 150px;
  margin-bottom: 70px;
  color:var(--light-theme-btn-font-color);
   background-color: (--light-theme-btn-background-color-card);
   border-radius: 5px;

}
.dark-theme {
  color: var(--dark-theme-font-color);
  background-color: var(--dark-theme-background-color);
  font-family: var(--dark-theme-font);}

 .dark-theme div{

background-color:var(--dark-theme-background-color-card);
  

 }
.dark-theme button{
color:var(--dark-theme-btn-font-color);
  background-color:var(--dark-theme-btn-background-color-card);
}
  
  
  


.card-container {
  /* background-color: var(--light-theme-background-color-card); */
}
